<div class="body">
  <%= render 'components/banner-index' %>


<div class="container py-4">
  <div class="d-flex align-items-center justify-content-between mb-4">
    <h3 class="mb-0">Your List</h3>
    <%= render 'components/card-userlist' %>
  </div>
</div>

<div class="container py-4">
  <div class="d-flex align-items-center justify-content-between mb-3">
    <h3 class="mb-0">Recommended</h3>
    <%= render 'components/card-recolist' %>
  </div>
</div>

<div class="row">
    <% @lists.each do |list| %>
      <div class="co-12 colsm-6 col-md-4 mb-3">
        <%= link_to list_path(list), class:'text-decoration-none' do %>
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>